*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}
nav{
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    box-shadow: 0px 3px 10px black;
}
a{
    text-decoration: none;
    color: #090909;
    font-size: 20px;
    opacity: 0.5;
}

a.hover{
    cursor: pointer;
    opacity: 1;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    min-height: 100vh;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: linear-gradient(135deg, #1e1e2f, #3a3a5f);
}

h1,h2{
    font-family: 'Playwrite DE SAS', cursive;
}
h1{
        padding-top: 100px;
        font-size: 67px;
        text-shadow: 0px 3px 5px #090909;
}
#v1, #v2{
    display: none;

}
input{
    border-radius: 999px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0px 3px 10px black;
}

button{
    border-radius: 999px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 0px 3px 10px black;
    background-color: antiquewhite;
}